# Ignore all images
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.webp

# Secrets
.env
.env.*

# Node
node_modules/

# Build
dist/
build/

# Images & media
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.webp
*.mp4

# Logs
*.log

# Python
venv/
__pycache__/
*.pyc

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
